<section class="app-servers">
    <label>Server name</label>
    <!-- <input
        type="text"
        class="form-control"
        (input)="onUpdateServerName($event)">-->
    <input 
        type="text"
        class="form-control"
        [(ngModel)]="serverName">
    <button
        class="btn btn-primary"
        [disabled] = "!allowNewServer"
        (click)="onCreateServer()">Add Server</button>
    <hr>
    <!-- <p class="sisennys">{{ serverName }}</p> -->
    <!-- <p class="sisennys">{{ serverCreationStatus }}</p> -->
    <p *ngIf="serverCreated" class="sisennys">Server was created! Server name is {{ serverName }}</p>
    <!-- <ng-template #noServer> <p>No server created!</p>  </ng-template> -->
    <app-server *ngFor="let server of servers"></app-server>
</section>